    /* global CSS */
    
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(rgb(0, 0, 0, 0.2), transparent), url('../src/img/MonPortfolio2.png');
        background-position: center;
        background-size: 100%;
    }
    
    html {
        font-size: 62.5%;
    }
    
    h2 {
        font-size: 4.8rem;
    }
    
    h3 {
        font-size: 3rem;
    }
    
    a {
        text-decoration: none;
    }
    /*Partie haute de la page*/
    
    #Start {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: black;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    #top {
        display: flex;
        align-items: center;
        width: 50%;
    }
    
    #logo img {
        width: 7rem;
        height: 7rem;
        border-radius: 2rem;
    }
    
    #Title {
        margin-left: 50%;
        font-family: 'Merriweather Sans', sans-serif;
        color: #e0dcce;
        cursor: default;
        letter-spacing: 2px;
    }
    
    nav a {
        text-decoration: none;
        color: black;
    }
    
    #Projets:hover {
        background-color: #bbb6a9;
    }
    
    #Projets {
        background-color: #e0dcce;
        border-radius: 3rem;
        padding: 2rem 5rem;
        font-size: x-large;
    }
    /*Milieu*/
    
    #Presentation {
        margin-right: 16%;
        margin-top: 6%;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 7rem;
        justify-content: space-around;
    }
    
    #Presentation img {
        border-radius: 100%;
        padding: 5rem;
        width: 50rem;
    }
    
    #aboutMe {
        margin-bottom: 4%;
    }
    
    .milieu {
        min-height: 80vh;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #text {
        text-align: right;
        margin-right: 4rem;
        margin-bottom: 30rem;
    }
    
    #text h2 {
        font-size: 3.5rem;
    }
    /* Footer */
    
    #End {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: black;
    }
    
    footer {
        min-height: 10vh;
        margin: auto;
        padding: 1rem;
        width: 90%;
        display: block;
    }
    
    p {
        text-align: center;
        color: #d3d3cf;
    }
    
    #Infos {
        display: flex;
        text-decoration: none;
        color: black;
        justify-content: center;
    }
    
    #Contact {
        color: #F7F7F2;
        margin: 1rem;
        font-size: medium;
    }
    
    #Contact:hover {
        color: white;
        text-decoration: underline;
    }
    /********Card********/
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    * {
        font-family: 'Poppins', sans-serif;
    }
    
    #allCard {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding: 2rem;
    }
    
    .myCards {
        display: inline-block;
        width: 17%;
    }
    
    .container .card {
        position: relative;
        height: 450px;
        background: #232323;
        border-radius: 20px;
        overflow: hidden;
    }
    
    .container .card:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffbd59;
        clip-path: circle(104px at 100% 100%);
        transition: 0.5s ease-in-out;
    }
    
    .container .card:hover:before {
        clip-path: circle(300px at 80% -40%);
    }
    
    .container .card .imgBx {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10000;
        width: 100%;
        height: 220px;
        transition: 0.5s;
    }
    
    .container .card:hover .imgBx {
        top: 0%;
        transform: translateY(0%);
    }
    
    .container .card .imgBx img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 270px;
    }
    
    .container .card .contentBx {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 10;
    }
    
    .container .card:hover .contentBx {
        height: 210px;
    }
    
    .container .card .contentBx h2 {
        position: relative;
        font-weight: 500;
        letter-spacing: 1px;
        color: #fff;
        margin: 0;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    #VM {
        font-size: 3.78rem;
    }
    
    .container .card .contentBx .size,
    .container .card .contentBx .color {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .container .card:hover .contentBx .size {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }
    
    .container .card .contentBx .size h3 {
        color: #fff;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 10px;
    }
    
    .container .card .contentBx a {
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        border-radius: 4px;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 600;
        color: #111;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
        margin-top: 0;
    }
    
    .container .card:hover .contentBx a {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.75s;
    }
    /*Partie responsive*/
    
    @media screen and (max-width: 500px) {
        #Presentation {
            flex-direction: column;
            margin-left: 18%;
        }
        #Presentation img {
            width: 250px;
        }
        h3 {
            width: 80vw;
        }
        .milieu {
            min-height: 65vh;
        }
        header {
            flex-direction: column;
            height: 230px;
        }
        #allCard {
            flex-direction: column;
            justify-content: center;
        }
        #Title {
            margin-left: 5%;
            margin-top: 0%;
            margin-bottom: 15px;
        }
        #Projets {
            margin: 0%;
            padding: 1rem 4rem;
        }
        #top {
            margin-right: 20%;
        }
        .container .card {
            position: relative;
            height: 450px;
            background: #232323;
            border-radius: 20px;
            overflow: hidden;
        }
        .myCards {
            width: 100%;
        }
    }